[submodule "GitHub-Private"]
	path = GitHub-Private
	url = https://github.com/Rhaegal222/GitHub-Private
[submodule "Primo-Anno"]
	path = Primo-Anno
	url = https://github.com/Rhaegal222/Primo-Anno
[submodule "Secondo-Anno"]
	path = Secondo-Anno
	url = https://github.com/Rhaegal222/Secondo-Anno
[submodule "Terzo-Anno"]
	path = Terzo-Anno
	url = https://github.com/Rhaegal222/Terzo-Anno
